body {
    font-size: 2em; /*1em equivale a 16px */
    font-family: 'Montserrat', sans-serif;
    background: #e6e6e6;
}

/**** configuraçoes deixa a pagina  marcada ***/
body.home #area-menu a#home,
body.contato #area-menu a#contato,
body.sobrenos #area-menu a#sobrenos,
body.cliente #area-menu a#cliente,
body.produtos #area-menu a#produtos
{
    background: gray;
    color: black;
    cursor: text;
    
}

body.blusas #menu-produtos a#blusas,
body.camisas #menu-produtos a#camisas,
body.bones #menu-produtos a#bones
{
    background: gray;
    color: black;
    cursor: text;
}

/**** Fim das configuraçoes pagina marcada *****/




/************* configuraçoes cabeçalho *************/
#area-cabecalho {
    background-color:black;
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 25px;
    
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: white;
    padding: 8px 12px; /*8px superior e inferior e 12px nas laterais */
}

#area-cabecalho a:hover {
    color:black;
    background:grey;
    text-decoration: none;
}

.nome_principal {
    color: grey;
    font-size: 2.5em;
}

.logo {
    width: 100px;
    float: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.branco {
    color: white;
}

#area-menu {
    padding-bottom: 20px;
    font-size: 1.2em;
    float: center;
}

#area-logo {
    font-size: 1.2em;
}



/************* fim das configuraçoes do cabeçalho *************/


/************* configuraçoes area principal  *************/
#area-principal {   
    width: 920px;
    margin: 0 auto; /*para o conteudo fica centralizado */
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left; /*posicionando os conteudos  */
}


.postagem h2 {
    font-weight: bold;
    font-size: 2em;
    color: black;
    
}

.postagem h2:hover {
    color: gray;
    cursor: pointer;
    text-decoration: underline;
}

.postagem span {
    font-size: 0.8em;
    font-weight: bold;
    color: gray;
}

.postagem img {
    margin-top: 10px;
}

.postagem img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

/************ Fim configuração area principal ************/

/************* configuraçoes parte lateral *************/

#area-lateral {
    width: 240px;
    float: right;   /*posicionando os conteudos */
}

.conteudo-lateral{
    background:#dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
    
}

.conteudo-lateral h3 {
    color:black;
    background: gray;
    padding: 5px;
    font-weight: bold;
}

.postagem-lateral{
    font-size: 1.0em;
    padding: 5px;
    border-bottom: 1px dotted #CCC; /* colocando a linha entre os texto */
    padding-top: 10px;
}

.postagem-lateral a:hover {
    cursor: pointer;
    color: gray;
}

/************* fim das configuraçoes laterais *************/


/******** INICIO CSS PAGINA CONTATO estilo para os formularios da pagina contato *********/
#form_contato form {
    margin: 30px 0;
    margin-left: 10px;
}

form label, legend {
    display: block; 
    font-size: 20px;
    margin-bottom: 10px;
}

fieldset .titulo_contato {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;

}

#radio_whatsapp, #radio_email, #radio_telefone {
    margin-bottom: 10px;
}

.input-padrao {
    display: block; /*um elemento embaixo do outro */
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 40%;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.enviar {
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    background:black; /* cor de fundo do botao eu poderia colocar tambem, background-color */
    color: white; /*cor da minha letra */
    font-weight: bold;
    font-size: 18px;
    border:none; /* borde=none ou seja nenhuma borda */
    border-radius: 20px; /*arrendodando o canto da borda */
    margin-top: 10px;
}

.enviar:hover {
    background:black;
    transition: 1s all;
    cursor: pointer; /*sempre que o mouse tiver por cima coloque a maozinha */
    transform: scale(1.2); /*aumenta o botao ao passar o mouse por cima, 1.2 aumenta em 20%*/
}

#contato-lateral {
    width: 240px;
    float: right; 
    margin-right: 20px;  
}

.conteudo-lateral-contato{
    background:#e6e6e6;
    padding: 10px;
    margin-bottom: 20px;
    
}

.conteudo-lateral-contato h3 {
    color:black;
    background:#CCC;
    padding: 5px;
    font-weight: bold;
}

.postagem-lateral-contato{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC; /* colocando a linha entre os texto */
    padding-top: 10px;
}

.lateral-nome {
    text-decoration: none;
    font-size: 20px;
}

.lateral-nome:hover {
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

.imagem-lateral:hover {
    cursor: pointer;
    opacity: 0.8;
}


/*************** FIM CSS PAGINA CONTATO *****************/




/************ INICIO CSS PAGINA SOBRENOS *************/
.conteudo-sobrenos {   
    width: 920px; /* ocupando o mesmo campo que a area-principal */
    margin: 0 auto; /*para o conteudo fica centralizado */
    padding: 15px;
    margin-top: 30px;
}

.conteudo-sobrenos h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}

.conteudo-sobrenos p {
    font-size: 25px;
}

.conteudo-sobrenos img {
    box-shadow: 10px 10px 10px #000000;
}

.conteudo-sobrenos img:hover {
    opacity: 0.8;

}

#loja_instragram {
    color: #517fa4;
}

.imagem_entrega_cartao {
    float: right;
    margin-bottom: 250px;

}

.imagem_entrega_cartao2 {
    float: left;
    margin-bottom: 250px;
    margin-right: 50px;
}

.sobre_nome {
    padding-top: 200px;
}


.imagem_loja {
    float: right;
}

/*********** FIM CSS PAGINA SOBRENOS *************/


/************ COMEÇO CSS PRODUTOS ************/

#menu-produtos {
    padding-bottom: 20px;
    font-size: 1.2em;
    float: center;
    margin-top: 10px;
}

#menu-produtos a {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.volta_inicio  {
    float: left;
}

/* .imagem_seta_esquerda {
    padding: 1px;
} */

.botao_volta_inicio {
    background-color: black;
    color: gray;
    border: 1px solid gray;
    padding: 1px;
    
    
}

.botao_volta_inicio:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

#caixa_produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 ;
}

.produtos_camisas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 20px;
    box-sizing: border-box; /* para que o espaçamento lateral esteja dentro do percetual de 30% width */
    border-color: gray ; /* configuração da borda, muda a cor da porta */
    border-width: 2px; 
    border-style: solid; /* estilo da borda */
    border-radius: 10px; /* arrendodamento da borda */
    margin-top: 35px;
}

.produtos_camisas li:hover {
    border-color: black;
    cursor: pointer;
}

.produtos_camisas li:hover h2 {
    font-size:30px;
}

.produtos_camisas li a {
    text-decoration: none;
}

.produtos_camisas h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.imagem_produto {
    height: 279px;
}

.produto-descricao {
    font-size: 20px;
    padding-top: 10px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*********** FIM CSS PAGINA PRODUTOS  *************/


/** CSS Pagina compras ***/

#caixa_compras {
    width: 940px;
    margin: 0 auto;
    padding: 40px 0 ;
}

.texto_compras {
    font-size: 25px;
    margin-top: 20px;
}

.compras_imagem {
    float: right;
    margin-bottom: 30px;
    height: 500px;
    box-shadow: 10px 10px 10px purple;
    opacity: 0,7;
    margin-left: 10px;
}

.texto_cores, .texto_tamanho {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.texto_preco {
    font-size: 25px;
    margin-top: 50px;
    color: purple;
    font-weight: bold;
}


.botao_compras {
    color: white;
    background: black;
    border: none;
    margin-top: 20px;
    padding: 20px 33px;
}

.botao_compras:hover {
    background: gray;
    cursor: pointer;
}




/********* configuraçoes para todos os link *************/
a {
    text-decoration: none;
}


a:link, a:visited {
    color:black;
}


a:hover {
    text-decoration: underline;
}

/****** fim das configuraçoes de link ************/



/************* configuraçoes rodape *************/
#rodape {
    clear: both; /*para remover o fluxo dos elementos flutuantes, os float */
    text-align:center;
    background-color: black;
    padding: 10px;
}

#rodape img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    color: white;
    margin-top: 20px;
}

/************ Fim das configuraçoes do rodape ************/
















